---
import logo from "../assets/images/logo.svg"; // import SVG file
import "../css/style.css"; // import CSS file
import "../css/font.css";
import "../css/animation.css";
import "../css/fontawesome/css/all.min.css";
---

<header class="header-main fixed top-0 w-full z-10000">
  <nav class="header-nav flex justify-between items-center">
    <!-- Logo -->
    <div class="logo cursor-pointer xl:fixed xl:top-5 xl:left-6">
      <a href="/" class="">
        <img src={logo.src} alt="Logo" class="w-[7rem] xl:w-[10rem] z-50 p-3" />
      </a>
    </div>
    <!-- Navigation Menu -->

    <!-- Input for Hamburger Menu -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle hidden peer" />
    <label
      for="menu-toggle"
      class="icon block text-yellow-500 cursor-pointer xl:hidden border-2 border-blue-800 rounded-full p-2 bg-black bg-opacity-55 shadow-lg z-[1000001] md:hidden"
      aria-label="Toggle Menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="stroke-yellow-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>

    <!-- Menu -->
    <ul
      class="menu fixed top-4 right-0 md:left-auto md:right-6 w-3/4 max-w-lg h-auto bg-black md:bg-transparent text-yellow-300 transform transition-transform duration-500 ease-in-out
      flex flex-col md:flex-row gap-8 justify-center items-center translate-x-full peer-checked:translate-x-0 z-[99999]
        md:w-auto md:h-auto rounded-tr-3xl rounded-bl-3xl shadow-xl border-2 border-blue-800 md:border-none"
    >
      <!-- list-item -->

      <li class="list-item text-center p-2 xl">
        <a
          href="/"
          class="block w-48 p-5 text-3xl md:text-4xl md:p-2 lg:text-yellow-50 lg:bg-none lg:bg-opacity-0 md:bg-none md:bg-opacity-0 text-amber-300 rounded-tr-3xl rounded-bl-3xl border-blue-800 border md:border-none"
          >Home</a
        >
      </li>
      <li class="list-item p-2 text-center">
        <a
          href="/produkt"
          class="block w-48 p-5 text-3xl md:text-4xl md:p-2 lg:text-yellow-50 lg:bg-none lg:bg-opacity-0 md:bg-none md:bg-opacity-0 text-amber-300 rounded-tr-3xl rounded-bl-3xl border-blue-800 border md:border-none"
          >Kurse</a
        >
      </li>
      <li class="list-item text-center p-5 xl">
        <a
          href="/gallery"
          class="block w-48  bg-opacity-50 p-5 text-3xl md:text-4xl md:p-2 lg:text-yellow-50 lg:bg-none lg:bg-opacity-0 md:bg-none md:bg-opacity-0 text-amber-300 rounded-tr-3xl rounded-bl-3xl border-blue-800 border md:border-none"
          >Gallery</a
        >
      </li>
      <li class="list-item text-center p-2">
        <a
          href="/checkout"
          class="block w-48 p-5 text-3xl md:text-4xl md:p-2 lg:text-yellow-50 lg:bg-none lg:bg-opacity-0 md:bg-none md:bg-opacity-0 rounded-tr-3xl rounded-bl-3xl border-blue-800 border md:border-none"
        >
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  :root {
    --primary-color: #f7dc6f;
    --secondary-color: #1261c9;
    --menu-bg: #d4eb0698;
    --whait-color: #f7f7f7;
    --menu-text: black;
    --hover-scale: 1.1;
    --hover-shadow: drop-shadow(0 0 0.7rem #d4eb06);
    --hover-shadow1: drop-shadow(0 0 0.7rem #1261c9);
  }

  /* Show menu when checkbox is checked                        */
  .menu-toggle:checked ~ .menu {
    display: flex;
    right: 0;
    z-index: 100000;
  }

  .icon {
    text-align: center;
    margin: 0.5rem;
  }
  .icon:hover {
    border: #f1e208 solid 1px;
  }

  .icon svg {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    stroke-width: 8;
    transition: all 0.3s ease-in-out;
  }

  .icon svg:hover {
    stroke: var(--secondary-color);
    transform: scale(1.2);
  }

  .list-item:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    background-color: var();
  }
  .menu {

    background: linear-gradient(
    135deg,
    rgba(58, 42, 16, 0.9),
    rgba(0, 0, 0, 0.9)
  );
  color: #f0c14b; 
  }

  a {
  font-family: "font-2", sans-serif;
  text-shadow: 0 0 8px #0833f1; 
}


  @media (min-width: 768px) {
    .logo:hover {
      transform: scale(1.1);
      filter: drop-shadow(0 0 1rem #df0635c0);
    }

    .menu {

      background: rgba(0, 0, 0, 0.3); 
    /* طبقة تمويه */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); /* Safari */
      max-width: 1200px; 
      position:fixed;
      top: 1rem;
      right: 2rem;
      transform: none;
    }

    .list-item {
      background-color: transparent;
      transition:
        transform 0.3s ease,
        filter 0.3s ease;
    }

    .list-item:hover {
      transform: scale(var(--hover-scale));
      filter: var(--hover-shadow);
    }

    .icon {
      display: none;
    }
    a {
      font-family: "font-2", sans-serif;
      filter: drop-shadow(0 0 0.5rem #0833f1b9);
    }
  }
</style>
