/* Keyframes for the animation  */

.slideshow {

  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  animation: slide 15s linear infinite;
}



@keyframes slide {
  0% { background-image: url(../assets/images/slid1.jpg);}
  15% { background-image: url(../assets/images/ph1.jpg);}
  30% { background-image: url(../assets/images/slid2.jpg);}
  45% { background-image: url(../assets/images/slid3.jpg);}
  66% { background-image: url(../assets/images/pic10.jpg);}
  80% { background-image: url(../assets/images/slid4.jpg);}
  100%{ background-image: url(../assets/images/slid5.jpg);}

}
@media (min-width: 1024px) {
.menu::before,
    .menu::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #f2ff00, transparent);
      background-size: 200% 100%;
      animation: dynamite-light 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate;/* Applies  to create a dynamic gradient movement. */
          }
    .menu::before {
      top: 0;
    }

    .menu::after {
      bottom: 0;
    }

    @keyframes dynamite-light {
      0% {
        background-position: 200% 0;
      }
      25% {
        background-position: -100% 0;
      }
      50% {
        background-position: 0 0;
      }
      100% {
        background-position: -200% 0;
      }
    }


    
}
