
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* index  */
.slideshow {
  width: 100%;
  height: 60vh;
  background-image: url("/intro1.png");
  background-size: 150% auto;
  background-position: 0% center;
  background-repeat: no-repeat;

  animation: panorama 25s linear infinite;
}

@keyframes panorama {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

/* gallery- seite   */
.gallery-slider {
  width: 90%;
  height: 50vh;
  border: 1px solid #0059ff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  animation: gallery 10s infinite linear;
}
@keyframes gallery {
  0% {
    background-image: url(/public/slider1.webp);
  }
  12.5% {
    background-image: url(/public/slider2.webp);
  }
  25% {
    background-image: url(/public/slider3.webp);
  }
  37.5% {
    background-image: url(/public/slider4.webp);
  }
  50% {
    background-image: url(/public/slider5.webp);
  }
  62.5% {
    background-image: url(/public/slider6.webp);
  }
  75% {
    background-image: url(/public/slider7.webp);
  }
  100% {
    background-image: url(/public/slider8.webp);
  }
}

/* Keyframes for the navigation border   */
@media (min-width: 1024px) {
  .menu::before,
  .menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f2ff00, transparent);
    background-size: 200% 100%;
    animation: dynamite-light 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
      alternate;
  }
  .menu::before {
    top: 0;
  }

  .menu::after {
    bottom: 0;
  }

  @keyframes dynamite-light {
    0% {
      background-position: 200% 0;
    }
    25% {
      background-position: -100% 0;
    }
    50% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .jump::before {
    content: "📷";
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
    animation: bounce 1s infinite alternate;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .jump::before {
    content: "📷";
    display: inline-block;
    margin-right: 10px;
    font-size: 3rem;
    animation: bounce 1s infinite alternate;
  }
  .gallery-image {
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.6),
      0 0 40px rgba(236, 232, 1, 0.8);
    transition: transform 0.3s ease-in-out;
  }

  /* Keyframes for gallery   */

  .gallery-image {
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.4),
      0 0 20px rgba(236, 232, 1, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .gallery-image:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }

  .gallery-image:active {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
}
/* index animation  */

h1 {
  animation: colorchange 5s infinite alternate;
}
@keyframes colorchange {
  0% {
    color: white;
  }
  25% {
    color: blue;
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  75% {
    color: rgb(243, 5, 5);
  }

  100% {
    color: black;
  }
}

/* index animation   images   */

.hover-zoom {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
